.landing {
    color:black;
    background-color: rgb(240, 191, 99);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
  }

.button {
    background-color: #4fa4e4;
    border-radius: 5px;    
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button-div {
    text-align: center;
}

.sun-tokens {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.sun-tokens-border {
    padding: 10px;
}

.delete-button {
    max-width: 80px;
}